stages:
  - test
  - publish

variables:
  ARTIFACTORY_USERNAME: cicd-innovation
  ARTIFACTORY_URL: https://artifactory-horw.int.toradex.com/artifactory
  PUBLISH_REALM: Artifactory Realm
  MYSQL_ROOT_PASSWORD: root
  MYSQL_USER: libats_slick
  MYSQL_PASSWORD: libats_slick
  MYSQL_DATABASE: libats_slick
  DB_URL: jdbc:mariadb://mariadb:3306/libats_slick
  KAFKA_HOST: kafka:9092
  KAFKA_ZOOKEEPER_CONNECT: kafka:2181
  SBT_OPTS: "-sbt-launch-dir .sbt/launchers -sbt-dir .sbt -ivy .ivy2 -Dsbt.color=true -Dscala.color=true"

image: artifactory-horw.int.toradex.com/ota-docker-dev-horw/tdx-inno-ci-scala:0.0.1

services:
  - name: mariadb:10.2
    command: ["mysqld", "--character-set-server=utf8", "--collation-server=utf8_unicode_ci", "--max_connections=1000"]
  - name: spotify/kafka
    alias: kafka

test:
  stage: test
  before_script:
    - mysql --protocol=TCP --host=mariadb --user=root --port 3306 -proot -e \ GRANT\ ALL\ PRIVILEGES\ ON\ \`libats_slick%\`.\*\ TO\ \'libats_slick\'@\'%\'\;
  script:
    - sbt test
  cache:
    when: always
    paths:
      - .ivy2/
      - .sbt/

publish:
  stage: publish
  only:
    - master
  except:
    - schedules
  script:
    - jfrog config add horw-artifacxtory --artifactory-url=$ARTIFACTORY_URL --user=$ARTIFACTORY_USERNAME --password=$ARTIFACTORY_PASSWORD
    - jfrog config show horw-artifacxtory
    - jfrog rt ping
    - git fetch origin master
    - export PUBLISH_USER=$ARTIFACTORY_USERNAME
    - export PUBLISH_URL="${ARTIFACTORY_URL}/ota-sbt-dev-horw;build.number=$CI_BUILD_ID;build.name=libats"
    - export PUBLISH_PASSWORD=$ARTIFACTORY_PASSWORD
    - jfrog rt bce libats $CI_BUILD_ID
    - sbt +publish
    - jfrog rt build-publish libats $CI_BUILD_ID
  cache:
    paths:
      - .ivy2/
      - .sbt/
